.center {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: bolder;
	font-size: 34px;

}

.bq {
	border-left: 6px green solid;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
	font-weight: bolder;
	
}

.wrapper {
	width: 1170px;
	margin: 0 auto;	
}

header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 12;
}

.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}

.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: bignoodletitling;
	color: #fff;
	letter-spacing: 3px;
	margin-left: 9px;

}

nav {
	float: right;
	line-height: 100px;

}
nav a {
	text-decoration: none;
	font-family: bignoodletitling;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;

}

.banner-area {
	width:100%;
	height: 500px;
	position: fixed;
	top:100px;
	background-image: url(2.jpg);
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
}

.banner-area h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;


}

.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #ddd;
	height: 1500px;
}

.content-area h2 {
	font-family: bignoodletitling;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}

